		/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
body{
	font-family: sans-serif;
	margin: 0;
}

.cell{
	height: 20px;
	width: 20px;
	border: 1px solid;
	float: left;
}

.selected{
	background: #000;
}
.header{
    width: 100%;
    margin: auto;
    text-transform: uppercase;
    font-weight: 700;
}
.title {
    margin: 15px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid;
    padding-bottom: 15px;
}
#selected{
    font-size: 10px;
    margin: 0 15px 15px;
    padding: 6px 0;
    float: left;
}
#clear{
    font-size: 10px;
    margin: 0 15px 15px;
    float: right;
    cursor: pointer;
    border: 1px solid;
    padding: 5px;
}
.grid-container {
    margin-left: 20px;
    width: fit-content;
    border: 1px solid;
    float: left;
    display: inline-block;
}

.error {
    color: red;
    font-size: 11px;
    padding-top: 20px;
}
input:disabled {
    background-color: lightgray;
    border: 1px solid darkgray;
    opacity: 0.7;
}


.color-option {
    text-align: left;
    padding: 4px;
    float: left;
    width: 45px;
    height: 45px;
    font-size: 8px;
}

.color-grid-container.cf {
    max-width: 50%;
    height: 700px;
    overflow: scroll;
    float: left;
}